<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.lluismnd.cordova.plugin.brotherprinter"
        version="0.0.3">

    <name>BrotherPrinter</name>

    <description>Cordova plugin for Brother Print SDK</description>
    <repo>https://github.com/lluismnd/cordova-brother-printer.git</repo>
    <keywords>brother, sdk, print, cordova</keywords>
    <license></license>

    <author>Lluis Menendez Fuentes</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/printer.js" name="BrotherPrinter">
        <clobbers target="plugin.brotherprinter" />
        <clobbers target="cordova.plugins.brotherprinter" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BrotherPrinter">
                <param name="android-package" value="com.lluismnd.cordova.plugin.brotherprinter.BrotherPrinter"/>
            </feature>
        </config-file>

        <framework src="build-extras.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/BrotherPrinter.java" target-dir="src/com/lluismnd/cordova/plugin/brotherprinter" />
        <source-file src="src/android/libs/armeabi" target-dir="libs" />
        <source-file src="src/android/libs/BrotherPrintLibrary.aar" target-dir="libs" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.USB" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

            <uses-feature android:name="android.hardware.usb" android:required="true" />
        </config-file>
    </platform>
</plugin>
